//
// Footer
// --------------------------------------------------

footer {
  background-color: @midnight-blue;
  color: mix(@midnight-blue, @inverse, 50%);
  font-size: 15px;
  padding: 0;
  margin-top: @line-height-computed;

  a {
    color: mix(@midnight-blue, @inverse, 50%);
    font-weight: 400;
  }
  p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  h6 {
    margin-top: 15px;
    color: @green-sea;
    font-weight: 300;
    text-transform: uppercase;
    .ico {
      font-size: @font-size-base;
    }
  }

  .col {
    ul {
      list-style-type: none;
      margin: 0 0 26px;
      padding: 0;

      li {
        border-top: 1px solid lighten(@midnight-blue, 7%);
        line-height: 19px;
        padding: 6px 0;

        &:first-child {
          border-top: none;
          padding-top: 1px;
        }

        .ico {
          color: lighten(@midnight-blue, 7%);
          font-size: 12px;
          margin-right: 3px;
        }
      }
    }
  }

}

.footer-title {
  margin: 0 0 22px;
  padding-top: 21px;
  font-size: 24px;
  line-height: 40px;
}

.footer-brand {
  display: block;
  margin-bottom: 26px;
  width: 220px;

  img {
    width: 216px;
  }
}

// Footer banner
.footer-banner {
  text-align: right;
  background-color: @pomegranate;
  color: mix(@pomegranate, @inverse, 20%);
  margin-left: 42px;
  min-height: 120px;
  padding: 30px 30px;

  .footer-title {
    color: @inverse;
  }
  a {
    color: lighten(@brand-secondary, 42%);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
  ul {
    list-style-type: none;
    margin: 0 0 26px;
    padding: 0;

    li {
      border-top: 1px solid lighten(@brand-secondary, 2%);
      line-height: 19px;
      padding: 6px 0;

      &:first-child {
        border-top: none;
        padding-top: 1px;
      }
    }
  }
}
