<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col">
                <h6>Categorías <span class="fui-arrow-right ico"></span></h6>
                <ul>
                    {% for cat in site.data.categories %}
                    <li><span class="fui-radio-unchecked ico"></span> <a href="{{ cat.link }}">{{ cat.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /col-md-4 -->

            <div class="col-md-3 col">
                <h6>Hecho con <span class="fui-arrow-right ico"></span></h6>
                <ul>
                    {% for item in site.data.builtwith %}
                    <li><span class="fui-radio-unchecked ico"></span> <a target="_blank" href="{{ item.link }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /col-md-3 -->

            <div class="col-md-5">
                <div class="footer-banner">
                    <div class="social"><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"
                                           title="Twitter"><span class="fui-twitter"></span></a><a target="_blank"
                                                                                                   href="https://github.com/{{ site.github_username }}"
                                                                                                   title="GitHub"><span
                            class="fui-github"></span></a></div>
                    <p class="fullname"><span class="fname">@alex</span><span class="lname">mera</span></p>

                    <p>Un blog más sobre desarrollo de software con especial énfasis en <strong>Java + Spring</strong> y
                        mis nuevos favoritos: <strong>Programación Funcional y Scala</strong>.</p>

                    <p><span class="fui-location"></span> Cali, Colombia</p>
                </div>
            </div>
        </div>
    </div>
</footer>
